body {
  margin: 0;
  padding: 0;
  background: #111;
  color: white;
}

html, body, #root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}
